{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":17},"end":{"row":3,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1482430823056,"hash":"e32fe1f4e7a87895378eed9ea048c322e748bc4b"}