{"filter":false,"title":".htaccess","tooltip":"/api/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":11},"action":"remove","lines":["<IfModule mod_rewrite.c>","RewriteEngine on","","RewriteRule ^api/(.*)$ api/api.php [L]","</IfModule>"],"id":2},{"start":{"row":0,"column":0},"end":{"row":4,"column":11},"action":"insert","lines":["<IfModule mod_rewrite.c>","RewriteEngine on","","RewriteRule ^api/(.*)$ api/api.php [L]","</IfModule>"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":11},"end":{"row":4,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1484075859233,"hash":"e32fe1f4e7a87895378eed9ea048c322e748bc4b"}